

<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-card">

    <h2>Welcome Back 👋</h2>

    <!-- Email -->
    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email">
    </div>

    <!-- Password -->
    <div class="form-group">
      <input type="text" formControlName="password" placeholder="Password">
    </div>

    <!-- Error -->
    <p class="error" *ngIf="errorMessage()">
      {{ errorMessage() }}
    </p>

    <!-- Button -->
    <button type="submit" [disabled]="isLoading">
      <span *ngIf="!isLoading">Login</span>
      <span *ngIf="isLoading">Loading...</span>
    </button>

  </form>
</div>
